fastapi
uvicorn[standard]
python-dotenv
firebase-admin
pypdf
langchain
langchain-community
langchain-google-genai
chromadb
PyMuPDF
langchain-google-firestore
langchain-text-splitters
google-cloud-firestore
